* {
  box-sizing: border-box;
}

:root {
  --main-red: #e3646e;
  --main-purple: #bb72e9;
  --main-blue: #3996db;
  --main-green: #82bc4f;
  --main-yellow: #eabd5f;

  --base-gray-100: #e2e4e9;
  --base-gray-200: #c0c4ce;
  --base-gray-300: #878ea1;
  --base-gray-400: #292c34;
  --base-gray-500: #16181d;
  --base-gray-600: #0d0e11;

  --ff-01: 'Asap', sans-serif;
  --ff-02: 'Inconsolata', monospace;
  --ff-03: 'Maven Pro', sans-serif;

  --title-lg: 700 5.6rem/1.2 var(--ff-01);
  --title-md: 700 2.4rem/1.2 var(--ff-01);
  --title-sm: 700 1.6rem/1.2 var(--ff-01);

  --subtitle: 400 2rem/1.2 var(--ff-02);

  --text-md: 400 1.6rem/1.4 var(--ff-03);
  --text-sm: 400 1.4rem/1.4 var(--ff-03);

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: 'Asap', sans-serif;
}

html {
  font-size: 62.5%;
}

/* Global */
.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */
.header {
  background-image: url('./assets/Background_Intro.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.header__main {
  max-width: 68rem;
}

.header__main__image {
  margin-top: 12rem;
  width: 11.2rem;
}

.header__main__subtitle {
  font: var(--subtitle);
  color: var(--base-gray-200);
  margin-top: 6.4rem;
}

.header__main__subtitle-name {
  font: inherit;
  color: var(--main-red);
}

.header__main__title-lg {
  font: var(--title-lg);
  color: var(--base-gray-100);
  margin-top: 0.8rem;
}

.header__main__text {
  font: var(--text-sm);
  color: var(--base-gray-300);
  text-align: center;
  margin-top: 2rem;
}

.header__main__tags {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  width: 77rem;
}

.header__main__tags__tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--base-gray-400);
  height: 4rem;
  margin-right: 1.6rem;
  padding: 0.8rem 1.6rem;
  border-radius: 999px;
}

.header__main__tags__tag-image {
  width: 2.4rem;
  height: 2.4rem;
}

.header__main__tags__tag-text {
  font: var(--text-md);
  color: var(--base-gray-200);
  margin-left: 0.8rem;
}

.header__link {
  margin-top: 9.4rem;
}

/* projects */
.projects {
  background-color: var(--base-gray-500);
  padding-bottom: 14.4rem;
}

.projects__header {
  padding-top: 7.2rem;
}

.projects__header-subtitle {
  font: var(--subtitle);
  color: var(--main-red);
}

.projects__header-title-md {
  font: var(--title-md);
  color: var(--base-gray-100);
  margin-top: 0.8rem;
}

.projects__grid {
  margin-top: 5.6rem;
  display: grid;
  max-width: 104rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: 'A B C' 'D E F';
  gap: 2.4rem;
}

.projects__grid__card {
  width: 33rem;
  height: 28rem;
  padding: 1.2rem 1.2rem 1.7rem 1.2rem;
  background-color: var(--base-gray-400);
  border-radius: 1.2rem;
}

.projects__grid__card:hover {
  border: solid 1.5px var(--base-gray-300);
}

.projects__grid__card-link {
  text-decoration: none;
}

.projects__grid__card-image {
  width: 30.6rem;
  height: 15.6rem;
  border-radius: 0.8rem;
}

.projects__grid__card-title-sm {
  margin-top: 2.4rem;
  font: var(--title-sm);
  color: var(--base-gray-100);
}

.projects__grid__card-text {
  margin-top: 0.8rem;
  font: var(--text-sm);
  color: var(--base-gray-200);
}

/* Services */
.services {
  background-color: var(--base-gray-600);
  padding-bottom: 12rem;
}

.services__header-subtitle {
  font: var(--subtitle);
  color: var(--main-red);
  padding-top: 8.8rem;
}

.services__header-title-md {
  font: var(--title-md);
  color: var(--base-gray-100);
  margin-top: 0.8rem;
}

.services__grid {
  margin-top: 5.6rem;
  max-width: 88.8rem;
  height: 15.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.services__grid-card {
  border: solid 2px var(--base-gray-500);
  border-radius: 1.2rem;
  padding: 2rem;
}

.services__grid-card-image {
  width: 4.8rem;
  height: 4.8rem;
}

.services__grid-card-title-sm {
  margin-top: 2rem;
  font: var(--title-sm);
  color: var(--base-gray-100);
}

.services__grid-card-text {
  margin-top: 0.8rem;
  font: var(--text-sm);
  color: var(--base-gray-200);
}

/* Contact */
.contact {
  background-image: url('./assets/Background_Contacts.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20rem;
}

.contact__header-subtitle {
  font: var(--subtitle);
  color: var(--main-purple);
  margin-top: 12.8rem;
}

.contact__header-title-md {
  margin-top: 0.8rem;
  font: var(--title-md);
  color: var(--base-gray-100);
}

.contact__header-text {
  margin-top: 0.8rem;
  font: var(--text-md);
  color: var(--base-gray-200);
}

.contact__links {
  margin-top: 4.8rem;
}

.contact__links-link {
  text-decoration: none;
}

.contact__links-socialButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  height: 6.8rem;
  background-color: var(--base-gray-400);
  border-radius: 0.8rem;
  margin-bottom: 1.6rem;
  padding: 2rem;
}

.contact__links-socialButton:hover {
  border: 1.5px solid var(--main-blue);
}

.contact__links-socialButton-image {
  width: 2.8rem;
  height: 2.8rem;
}

.contact__links-socialButton-image:hover {
  filter: brightness(0) saturate(100%) invert(56%) sepia(52%) saturate(567%)
    hue-rotate(174deg) brightness(92%) contrast(93%);
}

.contact__links-socialButton-text {
  font: 500 1.6rem/1.4 var(--ff-03);
  color: var(--base-gray-200);
  width: 28.8rem;
}

/* Media Queries */
@media (max-width: 1199px) {
  /* Global */
  .container {
    max-width: 119.9rem;
    padding: 0 12rem;
  }

  /* Projects */
  .projects__header-subtitle {
    padding-top: 4.8rem;
  }

  .projects__grid {
    grid-template-columns: 1fr 1fr;
    grid-area: 'A B' 'C D' 'E F';
    gap: 5rem;
  }
}

@media (max-width: 899px) {
  /* Header */
  .header__main__title-lg {
    font-size: 3.2rem;
  }
}

@media (max-width: 839px) {
  /* Global */
  .container {
    max-width: 83.9rem;
    padding: 0 4rem;
  }

  /* Header */
  .header__main__image {
    width: 9.6rem;
    margin-top: 8rem;
  }

  .header__main__tags {
    width: 50rem;
    justify-content: center;
    margin-top: 6.4rem;
    gap: 2rem;
  }
}

@media (max-width: 766px) {
  /* Global */
  .container {
    max-width: 76.6rem;
    padding: 0 2rem;
  }

  /* Header */
  .header__main__subtitle {
    text-align: center;
  }

  .header__main__title-lg {
    font-size: 2.4rem;
  }

  .header__main__tags {
    width: 30rem;
    gap: 2.5rem;
  }

  .header__link {
    margin-top: 6.5rem;
    padding-bottom: 3.5rem;
  }

  /* Projects */
  .projects {
    height: 205rem;
  }

  .projects__header-title-md {
    font-size: 2rem;
  }

  .projects__grid {
    grid-template-columns: 1fr;
    grid-area: 'A' 'B' 'C' 'D' 'E' 'F';
    gap: 3.5rem;
  }

  /* Services */
  .services {
    height: 80rem;
  }
  .services__header-title-md {
    font-size: 2rem;
  }

  .services__grid {
    grid-template-columns: 1fr;
    grid-area: 'A' 'B' 'C';
    gap: 3.5rem;
  }

  /* Contact */
  .contact {
    padding-bottom: 6rem;
  }

  .contact__header-subtitle {
    margin-top: 4rem;
  }

  .contact__header-title-md {
    font-size: 2rem;
  }

  .contact__header-text {
    text-align: center;
  }

  .contact__links-socialButton {
    width: 85%;
    margin-left: 3rem;
  }

  .contact__links-socialButton-text {
    padding-left: 2rem;
  }
}

@media (max-width: 389px) {
  /* Global */
  .container {
    max-width: 38.9rem;
    padding: 0 1.5rem;
  }

  /* Header */
  .header__main__tags {
    width: 30rem;
    gap: 1.5rem;
  }

  /* Projects */
  .projects__grid__card {
    width: 100%;
    height: 30rem;
  }

  .projects__grid__card-image {
    width: 100%;
    height: 16rem;
  }

  /* Services */
  .services {
    height: 83rem;
  }

  .services__header-subtitle {
    margin-top: 4rem;
  }

  .services__header-title-md {
    text-align: center;
  }

  .services__grid {
    margin-top: 2.6rem;
    gap: 2rem;
  }

  /* Contact */
  .contact__links-socialButton {
    width: 58%;
    margin-left: 10rem;
  }
}
